<style media="screen">


</style>

<body>

</br>

<center><h1>Products</h1></center>


{# <table class="table text-center" id="categories">
  <ul>
      <tr>
  {% for element in myLabels %}
</tr>
            <td><a href="https://www.google.fr">
          <li style="list-style-type: none;">{{element}}</li>
      </td></a>
  {% endfor %}
  </ul>

</table>

</body>

{% endblock content %} #}
